##
# Pin constraints for the TinyFPGA BX
##

# 16Mhz clock
set_io --warn-no-port clk B2

# vga outputs
set_io --warn-no-port vsync G2
set_io --warn-no-port hsync E1
set_io --warn-no-port video H1

# ps/2 inputs
set_io --warn-no-port ps2_data C9
set_io --warn-no-port ps2_clk A9

# led
set_io --warn-no-port led B3

# usb
set_io pin_usb_p B4
set_io pin_usb_n A4
set_io pin_pu    A3


